<div class="container">
  <div class="row center sign-up-box">
    <div class="col s12 m12 l12">
      <div class="card-panel">
        <div class="row center">
          <h3>Log in</h3>
        </div>
        <div class="row">
          <%= form_for(:logins, html: {class: "col s12"}) do |f| %>
            <div class="row">
              <div class="input-field col s12">
            <%= f.email_field :email, placeholder: "Enter your email address", autofocus: true %>
            <%= f.label :email %>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
            <%= f.password_field :password, placeholder: "Enter your password", class: "active" %>
            <%= f.label :password %>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <%= f.button '<i class="material-icons right">arrow_forward</i>Log in'.html_safe, class: "btn waves-effect red lighten-3 right" %>
              </div>
            </div>
          <% end %>
          </div>
        </div>
      </div>
  </div>
</div>
